<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>










	<div>
		<div style="height:660px;width:auto">
			<div style="background:black;height:10%;width:100%">
				<img style="height:50px;width:50px;margin:10px">
				<span style="color:white">REC Banda</span>
			</div>
			<div>
				<div></div>
				<div><h2>Ramanujan Hostel Mess -</h2></div>
				<div></div>
			</div>
			<div>
				<div></div>
				<div><h4><b>Mess Incharge - Rahul Kumar</b></h4></div>
				<div></div>
			</div>
			<div style="margin:auto;width:80%;padding:10px">
				<div></div>
				<div>Food</div>
				<div>
					<div>
					    <span><input type="radio" name="rating" value="5"><label>☆</label></span>
					    <span><input type="radio" name="rating" value="4"><label>☆</label></span>
					    <span><input type="radio" name="rating" value="3"><label>☆</label></span>
					    <span><input type="radio" name="rating" value="2"><label>☆</label></span>
					    <span><input type="radio" name="rating" value="1"><label>☆</label></span>
					</div>
				</div>
				<div></div>
			</div>
			<div style="margin:auto;width:80%;padding:10px">
				<div></div>
				<div>Worker Higine</div>
				<div>
					<div>
					    <span><input type="radio" name="rating" value="5"><label>☆</label></span>
					    <span><input type="radio" name="rating" value="4"><label>☆</label></span>
					    <span><input type="radio" name="rating" value="3"><label>☆</label></span>
					    <span><input type="radio" name="rating" value="2"><label>☆</label></span>
					    <span><input type="radio" name="rating" value="1"><label>☆</label></span>
					</div>
				</div>
				<div></div>
			</div>
			<div style="margin:auto;width:80%;padding:10px">
				<div></div>
				<div>Cleanness</div>
				<div>
					<div>
					    <span><input type="radio" name="rating" value="5"><label>☆</label></span>
					    <span><input type="radio" name="rating" value="4"><label>☆</label></span>
					    <span><input type="radio" name="rating" value="3"><label>☆</label></span>
					    <span><input type="radio" name="rating" value="2"><label>☆</label></span>
					    <span><input type="radio" name="rating" value="1"><label>☆</label></span>
					</div></div>
				<div></div>
			</div>

			<div style="margin:auto;width:80%;padding:10px">
				<div></div>
				<textarea rows="4" cols="50">   Comment here...</textarea>
			</div>
			<div style="margin:auto;width:80%;padding:10px">
				<div></div>
				<div>
					<input style="position:absolute;right:150px" type="submit" value="Submit">
				</div>
				<div></div>
			</div>
		</div>
	</div>
</body></html>